@charset "utf-8";
/* CSS Document */

/*basic structure css imports*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);*/
@import url(bootstrap.min.css);
@import url(layout.css);
@import url(daterangepicker.css);
@import url(typography.css);
@import url(developer-edits.css);
@import url(font-awesome.min.css);


/*media query css imports*/
@import url(layout-tablet.css);
@import url(layout-tabletxl.css);
@import url(jquery.mCustomScrollbar.css);


/*component css(third party css such as mega menu css , slider )*/

