 @charset "utf-8";
/* CSS Document */

body { font-family: Arial, Helvetica, sans-serif; }
a:focus, a:hover { text-decoration::none;
}

.clearcancellabel::-ms-clear {
    display: none; 
}
.tool-tip {
    display: inline-block;
  }
  
  .tool-tip [disabled] {
    pointer-events: none;
  }

/*********************************************************************************
* tab CSS STARTS
***************************************************************************************/
.sales-main-section .control-label { font-family: Arial, ​Helvetica, ​sans-serif; font-size: 11px; font-weight: bold; color: #4a4a56; white-space: normal; padding-top: 0; width: 137px; text-align: left; }
.sales-main-section .text-label { width: auto; text-align:left !important; }
.sales-main-section, input[type="text"], input[type="email"], input[type="number"], select, textarea { width: 100%; color: #000; font-size: 13px; padding-top: 0; box-shadow: none; }
.input-height { height: 19px; }
.sales-main-section input[type="checkbox"] { margin-top: 3px; }
.tab-section .nav-tabs { border-bottom: inherit; position: relative; font-size: 12px; margin-left: 4px; }
.tab-section .tab-area { background-color: #f8f8f8; padding-top: 20px; border-radius: 4px; border: 1px solid #eaeaea; border-top: 3px solid #d95d2e; }
.tab-section { margin-top: 10px; }
.tab-section .nav-tabs > li a { border-color: transparent; border-width: 0; color: #000 !important; background-color: #ededed; border: #d6d6d6 1px solid; border-bottom: none; }
.tab-section .nav-tabs > li a:hover { border-color: transparent; border-width: 0; color: #000 !important; background-color: #ededed; border: #d6d6d6 1px solid; border-bottom: none; }
/* .tab-section .nav-tabs > li a:hover { border: none; background-color: inherit; box-shadow: none; }	 */		
.tab-section .nav-tabs > li.active a { z-index: 100;/* background-position: left top; background: transparent url(../images/subtab_sprite.png) no-repeat;*/  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,efefef+49,f7f7f7+100 */ background: #fafafa; /* Old browsers */ background: -moz-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(49%, #efefef), color-stop(100%, #f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* IE10+ */ background: linear-gradient(to bottom, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f7f7f7', GradientType=0 ); /* IE6-9 */
-moz-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
border: #d6d6d6 1px solid; border-bottom: none; }
.tab-section .nav-tabs > li.active a:hover { background: #fafafa; /* Old browsers */ background: -moz-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(49%, #efefef), color-stop(100%, #f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* IE10+ */ background: linear-gradient(to bottom, #fafafa 0%, #efefef 49%, #f7f7f7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f7f7f7', GradientType=0 ); /* IE6-9 */
-moz-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1); , 0 0px 0 1px rgba(0, 0, 0, 0.1);
border: #d6d6d6 1px solid; border-bottom: none; }
.tab {
margin-left: 0.5em;
font-weight :100;
}
.invoicetab {
margin-left: 4.0em;
font-weight :100;
}
.invoiceFromTotab {
width : 50px;
}
.linedotted{
border-top: dashed 1px; 
padding:4px 0px 4px 0px;
}

.hidelabel{
visibility:hidden;
}

.textRightAlign{
text-align: right;
}
.tab-section .nav-tabs > li { margin-bottom: -4px; font-weight: bold; color: #000 !important; font-size: 12px; margin-left: inherit; }
.tab-section .nav-tabs::before { background: #d95d2e none repeat scroll 0 0; bottom: -3px; height: 3px; position: absolute; width: 100%; z-index: 1; }
.tab-section .nav-tabs > li a:focus { /* border: none; */ outline: 0; }
/*contact tab start*/
.contact-form .form-control, .billing-form .form-control, .email-section .form-control, .customer-section .form-control { height: 28px; font-size: 11px; }
.contact-tabs .tab-content { margin: 10px 0; }
/*.red { color: #FF0204; }*/
.border { margin: 10px; }
.collapse-btn { padding: 20px 15px; float: left; width: 4%; }
.search-top-section { width: 96%; padding: 0 15px; float: left; }
.billing { background-color: #F8EBD3; padding: 4px; font-size: 13px; font-weight: 700; color: #000; margin-bottom: 7px; }
.sale-btn { margin: 20px 0; }
/*.customer-table { height: 130px; border: 1px solid #e0e3e5; overflow-y: auto; background-color: #fff; }
.customer-table .table > thead > tr > th { background: #f2f3f3 none repeat scroll 0 0; border-color: #e0e3e5; border-width: 0 0 1px 1px; color: #000; font-size: 12px; font-weight: bold; padding: 5px 2px 4px 5px; }
.customer-table .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { padding: 4px 2px 4px 5px; color: #000; font-weight: normal; white-space: normal; font-size: 12px; border-top: 1px solid #ececec; }*/
.sales-main-section .form-control { border-radius: 0; border: 1px solid #ececec; }
.sales-main-section .form-group { margin-bottom: 5px; }
.search-section { background-color: #F8F8F8; border-radius: 4px; border: 1px solid #eaeaea; border-top: 3px solid #d95d2e; margin-top: 10px; }
.fax-section { padding: 15px 0; }
.email-section label { float: left; margin-bottom: 0; }
.requiredInput { height: 100%; position: relative; }
/*.requiredInput .requiredBlock { background-color: #c00; bottom: 1px; left: 11px; position: absolute; top: 1px; width: 3px; }*/
.search-bottom-section .checkbox { margin: 3px; }
/*.border-form { position: relative; }
.border-form:before { content: ""; position: absolute; left: 12px; top: 0; width: 3px; height: 100%; background-color: #c00; display: block; }*/

.requiredInput .requiredBlock { background-color: #c00; bottom: 1px; left: 12px; position: absolute; top: 1px; width: 3px; }
.copy i { position: absolute; right: 20px; top: 3px; cursor: pointer; }
/*.collapse-date-secrion  select, .date-secrion  select{width:80%;}*/
.fax-record .control-label { width: auto; }
.collapse-date-secrion button[aria-expanded="false"], .collapse-date-secrion button[aria-expanded="true"], .collapse.in, .collapse { transition: ease all 2s; -webkit-transition: ease all 2s; -webkit-transition-delay: 2s; /* Safari */ transition-delay: 2s; }
.month-section input, .month-section select { width: 100%; }
.collapse-date-section .date-section input, billable-section .date-section input { width: 100%; }
/***************************************************************************************
*   tab CSS ENDS
***************************************************************************************/
.LockOff { display: none; visibility: hidden; }
/*.collapse-date-secrion .month-section, .date-section .month-section{width:20%;}
.collapse-date-secrion .btn-collapse{margin-left:23px;}*/
.month-section label { margin-bottom: 10px; }
.month-section .form-group { padding: 0 5px; }
/*.LockOnSearch { display: block; visibility: visible; position: fixed; z-index: 999; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: #FFFFFF; text-align: center; border: 1px solid #ccc; filter: alpha(opacity=75); opacity: 0.75; }
.isptextarea { height: 60px; }
*/
.grey-btn, .disabled { background: #e8e8e9 url(../images/btn_sprite.png) repeat-x scroll right top; border-color: #b5b5b5 #b5b5b5 #7f7f7f; border-image: none; border-radius: 3px; border-style: solid; border-width: 1px; color: #333; font-size: 10.8px; font-weight: 700; margin: 0 2px; padding: 2px 10px; font-family: Arial, Helvetica, sans-serif; }
.grey-btn:hover { background-position: right -30px; }
.disabled { background-position: 0 -90px; border-color: #c4c4c4; color: #909090; }
.disabledLink {color: black;pointer-events: none;}
.error { border: 2px solid #c00; }
.errorMsg { color: #d74c3b; margin-left: 4px; font-weight: bold }
.errorMsg span { display: block; margin-bottom: 15px; }
.successMsg { color: #007f00; margin-left: 4px; font-weight: bold }
.successMsg span { display: block; margin-bottom: 15px; }
.LockOnSearch { width: 100%; height: 100%; display: block; visibility: visible; position: fixed; z-index: 999; background-color: #FFFFFF; text-align: center; border: 1px solid #ccc; filter: alpha(opacity=75); opacity: 0.75; top: 0; left: 0 }
.ajax-loader { position: absolute; left: 50%; top: 50%; margin: -50px 0 0 -50px; z-index: 100000; }
/*table css start*/
.fixed_headers { border-collapse: collapse; table-layout: fixed; width: 100%; max-width: 100%; border: 1px solid #e0e3e5; overflow-y: auto; background-color: #f2f3f3; margin-bottom: 0; }
.fixed_headers tbody { display: block; height: 105px; overflow: auto; width: 100%; background-color: #fff; }
.fixed_headers tr { display: -webkit-inline-box; display: -moz-inline-box; display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; width: 100%; clear: both; }
.fixed_headers td { float: left; padding: 3px; text-align: left; }
.fixed_headers > thead > tr > th { background: #f2f3f3 none repeat scroll 0 0; border-color: #e0e3e5; border-width: 0 0 1px 1px; color: #000; font-size: 12px; font-weight: bold; padding: 2px 4px; vertical-align: top; float: left; min-height: 40px; }
.fixed_headers tbody > tr > td, tbody > tr > th, tfoot > tr > td, tfoot > tr > th, thead > tr > td, thead > tr > th { padding: 2px; color: #000; font-weight: normal; white-space: normal; font-size: 13px; border: none; word-wrap: break-word; }
.fixed_headers tbody > tr { border: 1px solid #e0e3e5; border-bottom: 1px solid rgba(0,0,0,0); }
.fixed_headers tbody > tr:last-child { border-bottom: 1px solid #e0e3e5; }
.fixed_headers > tbody > tr:hover { border: 1px solid #1797C0; }
.fixed_headers > tbody > tr.active { border: 2px solid #0b4b60; }
.fixed_headers > tbody > tr.active > td { background-color: inherit; }
.fixed_headers > tbody > tr.active1 { border: 1px solid #0d5a73; }
.serviceactive { border: 1px solid #1797C0;
padding: 5px 0px 5px 22px; }
.serviceactive1 { border: 1px solid #1797C0;
padding: 5px 0px 5px 4px; }
.lbl-collapse{ padding-left:10px; padding-top: 23px; display: none;transition: all 2s ease 2s; -webkit-transition: all 2s ease 2s; -moz-transition:all 2s ease 2s;-o-transition: all 2s ease 2s;}

/*.fixed_headers tbody > tr > td{min-height:40px;}*/

/*.custom-table th { font-weight: 700; padding: 5px; }*/
/*tr:hover, tr.selectedtr {
    background-color: #FFCF8B !important;
    border-bottom-color: #0066BD !important;
    border-bottom-style: dotted  !important;
    border-bottom-width: 1px  !important;
    border-top-color: #0066BD  !important;
    border-top-style: dotted  !important;
    border-top-width: 1px  !important;
}*/

#tblinvoicebillingsummarysection td { border:none; }
#tblinvoicebillingsummarysection td:nth-of-type(1) {
padding-right: 50px;
}

#tblinvoicebillingbankdtlssection td { border:none; }
#tblinvoicebillingbankdtlssection td:nth-of-type(1) {
padding-right: 50px;
}

#tblinvoicebillingdetailssection{width:60%}
#tblinvoiceadjustmentsection{width:60%}
#tblinvoicepaymentreceivedsection{width:60%}

#tblinvoicebillingdetailssection td:first-child { width: 15%; }
#tblinvoicebillingdetailssection td:nth-child(2) { width: 10%; }
#tblinvoicebillingdetailssection td:nth-child(3) { width: 65%; }
#tblinvoicebillingdetailssection td:nth-child(4) { width: 10%; }

#tblinvoiceadjustmentsection td:first-child { width: 4%; }
#tblinvoiceadjustmentsection td:nth-child(2) { width: 4%; }
#tblinvoiceadjustmentsection td:nth-child(3) { width: 15%; }
#tblinvoiceadjustmentsection td:nth-child(4) { width: 23%; }

#tblinvoicepaymentreceivedsection td:first-child { width: 4%; }
#tblinvoicepaymentreceivedsection td:nth-child(2) { width: 4%; }
#tblinvoicepaymentreceivedsection td:nth-child(3) { width: 15%; }
#tblinvoicepaymentreceivedsection td:nth-child(4) { width: 23%; }




#tblISPQSearchResult td:first-child { width: 12%; }
#tblISPQSearchResult td:nth-child(2) { width: 8%; }
#tblISPQSearchResult td:nth-child(3) { width: 15%; }
#tblISPQSearchResult td:nth-child(4), #tblISPQSearchResult td:nth-child(5) { width: 20%; }
#tblISPQSearchResult td:nth-child(6) { width: 10%; }
#tblISPQSearchResult td:nth-child(7) { width: 15%; }

/* assign width to tables with "id"(not "class")*/
#tblISPSearchResult td:first-child { width: 12%; }
#tblISPSearchResult td:nth-child(2) { width: 8%; }
#tblISPSearchResult td:nth-child(3) { width: 15%; }
#tblISPSearchResult td:nth-child(4), #tblISPSearchResult td:nth-child(5) { width: 20%; }
#tblISPSearchResult td:nth-child(6) { width: 10%; }
#tblISPSearchResult td:nth-child(7) { width: 15%; }
/* table inside Billing -> View charges and collection tab */
#tblISPviewCharges tbody { height: 210px; }
#tblISPviewCharges td:first-child { width: 10%; }
#tblISPviewCharges td:nth-child(2) { width: 12%; }
#tblISPviewCharges td:nth-child(3) { width: 40%; }
#tblISPviewCharges td:nth-child(4) { width: 10%; }
#tblISPviewCharges td:nth-child(5), #tblISPviewCharges td:nth-child(6) { width: 7%; }
#tblISPviewCharges td:nth-child(7) { width: 14%; }
/*Finance tab start*/
#tblISPFinance tbody { height: 210px; }
#tblISPFinance td:first-child { width: 3%; }
#tblISPFinance td:nth-child(2) { width: 10%; }
#tblISPFinance td:nth-child(3) { width: 12%; }
#tblISPFinance td:nth-child(4) { width: 37%; }
#tblISPFinance td:nth-child(5) { width: 10%; }
#tblISPFinance td:nth-child(6) { width: 7%; }
#tblISPFinance td:nth-child(7) { width: 7%; }
#tblISPFinance td:nth-child(8) { width: 14%; }

/*ChargeBack Grid tab start*/
#tblISPbillingTransaction_history_chargeBack tbody { height: 210px; }
#tblISPbillingTransaction_history_chargeBack td:first-child { width: 8%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(2) { width: 8%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(3) { width: 38%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(4) { width: 5%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(5) { width: 5%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(6) { width: 5%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(7) { width: 8%; }
#tblISPbillingTransaction_history_chargeBack td:nth-child(8) { width: 8%; }

#tblRefundGrid tbody { height: 15rem; }
#tblRefundGrid td:first-child { width: 20%; color: green; font-weight: bold;}
#tblRefundGrid td:nth-child(2) { width: 45%; }
/*#tblRefundGrid td:nth-child(3) { width: 15%; }*/
#tblRefundGrid td:nth-child(4) { width: 10%; }

#btnProceedForRefund { margin-right: 30px;}
#resetBtn { width: 100px; height: 30px; }
.resetBtn-div {text-align: right;}
.refund-btn-section { margin-top: 20px ; margin-left: 115px !important; }
.refundReasonDropdown { width: 65% !important; }
.txn-section { width: 30% !important; }
.txn-code-section { width: 20% !important; }
.txn-margin{ margin-left: 40px; }
.process-refund-btn { text-align: right; margin-bottom: 20px !important; margin-right: 20px; }
.refund-error-label { display:none; color:#d74c3b; margin-left:15px }

#tblISPFinanceCreditCards tbody { height: 72px; }
#tblISPFinanceCreditCards td:first-child { width: 25%;}
#tblISPFinanceCreditCards td:nth-child(2) { width: 40%; }
#tblISPFinanceCreditCards td:nth-child(3) { width: 25%; }
#tblISPFinanceCreditCards td:nth-child(4) { width: 10%; }

.form-group-cust{margin-left: 6px;}
.form-group-cust .control-label{ display:inline-block;}
.form-group-cust .input-control{ display: inline-block; width: calc(100% - 33px);}
.form-group-cust .input-control .refundCurrency{ display:inline-block}
.form-group-cust .input-control .input-height{ display:inline-block; width: 110px;}

/* finance tab end */

#tblISPVCC_journal_items td:first-child { width: 20% }
#tblISPVCC_journal_items td:nth-child(2) { width: 65% }
#tblISPVCC_journal_items td:nth-child(3) { width: 15% }
#tblISPCreditCards td:first-child, #tblISPCreditCards td:nth-child(3)  { width: 20% }
#tblISPCreditCards td:nth-child(2),#tblISPCreditCards td:nth-child(5) { width: 25% }
#tblISPCreditCards td:nth-child(4) { width: 10% }

#tblPortingList td:first-child,#tblPortingList td:nth-child(6),#tblPortingList td:nth-child(10) { width:7%}
#tblPortingList td:nth-child(4),#tblPortingList td:nth-child(8) { width:10%}
#tblPortingList td:nth-child(2),#tblPortingList td:nth-child(3),#tblPortingList td:nth-child(5),#tblPortingList td:nth-child(7) { width:9%}

#tblPortingList td:nth-child(9) { width: 16% }
#tblPortingList td:nth-child(11) { width: 7% }

/*tblPortingList td:first-child, #tblPortingList td:nth-child(2) , #tblPortingList td:nth-child(3) , #tblPortingList td:nth-child(4)  { width: 26% }
*/
#tblISPbillinvoices td:first-child,   #tblISPbillinvoices td:nth-child(7){ width: 10% }
 #tblISPbillinvoices td:nth-child(8)  { width: 5% }
#tblISPbillinvoices td:nth-child(3) ,#tblISPbillinvoices td:nth-child(4),#tblISPbillinvoices td:nth-child(2),#tblISPbillinvoices td:nth-child(5), #tblISPbillinvoices td:nth-child(6) { width: 15% }
#tblISPbillingTransaction_history td:first-child, #tblISPbillingTransaction_history td:nth-child(2), #tblISPbillingTransaction_history td:nth-child(7), #tblISPbillingTransaction_history td:nth-child(8) , #tblISPbillingTransaction_history td:nth-child(9){ width: 8% }
#tblISPbillingTransaction_history td:nth-child(3) { width: 38% }
#tblISPbillingTransaction_history td:nth-child(5), #tblISPbillingTransaction_history td:nth-child(6), #tblISPbillingTransaction_history td:nth-child(4) { width: 5% }
#tblISPbillingTransaction_history td:nth-child(10) { width: 7% }
 
#tblISPservice_summary td:first-child, #tblISPservice_summary td:nth-child(4){ width: 7% }
#tblISPservice_summary td:nth-child(2) { width: 8% }
#tblISPservice_summary td:nth-child(5)  { width: 10% }
#tblISPservice_summary td:nth-child(3) { width: 11% }
#tblISPservice_summary td:nth-child(6) { width: 34% }
#tblISPservice_summary td:nth-child(8) { width: 5% }
#tblISPservice_summary td:nth-child(7), #tblISPservice_summary td:nth-child(9), #tblISPservice_summary td:nth-child(10) { width: 6% }


#tblISPevents td:nth-child(1), #tblISPevents td:nth-child(2), #tblISPevents td:nth-child(3) { width: 15% }
#tblISPevents td:nth-child(4) { width: 52% }
#tblISPgifts td:first-child, #tblISPgifts td:nth-child(2), #tblISPgifts td:nth-child(3), #tblISPgifts td:nth-child(5), #tblISPgifts td:nth-child(6) { width: 10% }
#tblISPgifts td:nth-child(4) { width: 20% }
#tblISPgifts td:nth-child(7) { width: 30% }
/*table css end*/
/*image css start*/
.image-block { margin-top: 5px; }
.image-block i { background-repeat: no-repeat; background-size: 100% auto; display: inline-block; height: 35px; width: 50px; vertical-align: middle; }
.img-maestro-card { background-image: url(../images/cc/180px-Maestro_logo.svg.png); }
.img-switch-card { background: url(../images/cc/switchcard.png); }
.img-airplus-card { background: url(../images/cc/airpluscard.png); }
.img-amex-card { background: url(../images/cc/americanexpress-icon.png); }
.img-cartebleue-card { background: url(../images/cc/cartebleuecard.png); }
.img-discover-card { background: url(../images/cc/discover.png); }
.img-jcb-card { background: url(../images/cc/jcb-64.png); }
.img-master-card { background: url(../images/cc/masterCard.png); }
.img-visa-card { background: url(../images/cc/visaicon.png); }
.image-block .control-label { width: auto; }
/*image css end*/

/*billing payment tab css start*/
.payment-section input[type="text"] { display: inline-block; width: calc(100% - 72px); }
.payment-section .paymentUsage input[type="text"] { width: calc(100% - 75px); }
.payment-section-usagefield { width: calc(16.6667% - 20px);padding-right:0px; }
.payment-section-usagetaxfield { width: calc(16.6667% + 20px); }
.payment-section .paymentPPU input[type="text"] { width: calc(100% - 90px); }
.payment-section .form-group { display: inline-block; margin: 0 -10px; }
.payment-section .control-label { font-family: Arial, ​Helvetica, ​sans-serif; font-size: 11px; font-weight: bold; color: #4a4a56; white-space: normal; padding-top: 0; width: auto; }
.copy-contact-block i{ font-size: 11px; margin-right:5px;color: #000;}
.copy-contact-text{ display:inline-block; font-family: Arial, ​Helvetica, ​sans-serif; font-size:11px; font-weight: bold; color: #4a4a56; white-space: normal; padding-top: 0; width: auto;}
/*billing payment tab css end*/
.sales-main-section .user-id-section { padding-top: 15px; }
.sales-main-section .user-id-section label { text-align: left; width: auto; padding-right: 0; }
.sales-main-section .memo-div { width: auto; }
.sales-main-section .memo-div input { margin-right: 5px; margin-top: 0; }
.reduceWidthOfTableHeader { width: calc(100% - 20px) !important; }
/*billing transaction tab css start*/
.transaction-form { margin-top: 15px; margin-bottom: 15px; }
.transaction-form .checkbox { padding-top: 0; }
.ispcases-table { margin-top: 10px; }
.customer-service-section .form-group { display: inline-block; }
.customer-service-section input { width: auto; }
.customer-service-section select { width: auto; }
.check-inner{ padding-left: 8px; margin-bottom: 8px;}
/*//.customer-service-section .radio{display:inline-block;}*/
/*billing transaction tab css start*/




/*service css start*/
.service-section .service-bottom-section { margin: 20px 0; }
.service-section .service-bottom-section .control-label { width: auto; }
.service-section .filter-section .control-label { width: auto; }
/*service gift tab css start*/


/*service gift tab css end/

/*service css end*/
/*event tab css start*/
.ticket-section .checkbox { padding-top: 0; }
.common-pagination { width: 100%; margin: 0; }
.common-pagination label { font-weight: normal; font-size: 12px; margin: 0; }
.common-pagination .pagination-bg { background: #f2f3f3; border: 1px solid #e0e3e5; display: inline-block; width: 100%; border-top: none; }
.common-pagination .pagination-bg .col-sm-4 .form-group .pull-right { float: right !important; text-align: right; }
.common-pagination .pager { margin: 0; }
.common-pagination .pager li > a, .pager li > span { background: none; border: none; color: #999; padding: 0 1px; }
/*.common-pagination .pager li > a:focus, .pager li > a:hover, .pager li > a:active { color: #000; }*/

.common-pagination .pager .active > a:focus, .pager .active > a:hover, .pager .active > a:active { color: #000; }


.common-pagination .pager .active a { color: #000; }
.common-pagination input { width: 20%; }
.general-tab .storage-section input { width: auto; }
.general-tab .storage-section label { font-weight: 400; }
.email-adress-section .grey-btn { width: 100%; margin-bottom: 5px; }
/*checkbox css start*/
.checkbox-custom { opacity: 0; position: absolute; z-index: 9; }
.checkbox-custom, .checkbox-custom-label { display: inline-block; vertical-align: middle; cursor: pointer; }
.checkbox-custom-label { position: relative; font-weight: normal; }
.checkbox-custom + .checkbox-custom-label:before { content: ''; /*background: #fff;*/ border: 1px solid #b0b0b0; display: inline-block; vertical-align: middle; width: 14px; height: 14px; padding: 0px; margin-right: 10px; text-align: center; }
.checkbox-custom:checked + .checkbox-custom-label:before { content: ""; font-family: "Glyphicons Halflings";/* background: #fff;*/ color: #000; font-size: 8px; }
/*.custom-checkbox input[type="checkbox"] { margin-left: 8px; margin-top: 0 !important;  }*/
.red .checkbox-custom-label::before { background: #ffc3c6; }
.green .checkbox-custom-label:before { background: #C0FFC0; color: #fff; }
.white .checkbox-custom-label:before { background: #fff; }
/*fax-usage-section start*/
.fax-usage-section .form-group { display: inline-block; }
.fax-usage-section input { width: auto; }
.fax-usage-section .faxusage-table { margin: 20px 0; }
/*.faxbill-table, .faxusage-table{
    width: calc(100% - 30px);}*/
.fax-usage-section .faxusage-table a, .fax-usage-section .faxbill-table a { color: #000; text-decoration: none; }
.fax-usage-section .faxusage-table a:hover, .fax-usage-section .faxbill-table a:hover { color: #015ba7; }
.scroll-table> thead > tr > th { min-width: 40px; }
.scroll-table { table-layout: inherit; }
.scroll-table > tfoot > tr > td { padding: 0; border: 0; }
/*.scroll-table td{min-width:40px;}
.scroll-table tbody{overflow:initial}
.scroll-table span i{font-size:8px; }*/

.scroll-table > thead > tr > th:hover { background-color: #e0e3e5 !important; color: #015ba7; }
.scroll-table .active { background-color: #e0e3e6 !important; }
/*.scroll-table .active a{color:#015ba7;}*/

/*#tblISPserviceIFaxUsage th:first-child, #tblISPserviceIFaxUsage th:nth-child(2), #tblISPserviceIFaxUsage th:nth-child(3), #tblISPserviceIFaxUsage th:nth-child(4), #tblISPserviceIFaxUsage th:nth-child(5), #tblISPserviceIFaxUsage th:nth-child(6){background-color:#e0e3e6; border-right:1px solid #ddd;}*/

#tblISPserviceIFaxUsage td:first-child, #tblISPserviceIFaxUsage td:nth-child(2), #tblISPserviceIFaxUsage td:nth-child(13), #tblISPserviceIFaxUsage td:nth-child(9) { width: 150px; }
#tblISPserviceIFaxUsage td:nth-child(10), #tblISPserviceIFaxUsage td:nth-child(11), #tblISPserviceIFaxUsage td:nth-child(12), #tblISPserviceIFaxUsage td:nth-child(7) { width: 65px; }
#tblISPserviceIFaxUsage td:nth-child(14) { width: 450px; }
#tblISPserviceIFaxUsage td:nth-child(7), #tblISPserviceIFaxUsage td:nth-child(8) { width: 80px; }
#tblISPserviceIFaxUsage td:nth-child(3), #tblISPserviceIFaxUsage td:nth-child(5), #tblISPserviceIFaxUsage td:nth-child(4), #tblISPserviceIFaxUsage td:nth-child(6) { width: 100px; }
#tblISPserviceOFaxUsage td:first-child, #tblISPserviceOFaxUsage td:nth-child(2), #tblISPserviceOFaxUsage td:nth-child(3), #tblISPserviceOFaxUsage td:nth-child(4), #tblISPserviceOFaxUsage td:nth-child(5) { width: 150px; }
#tblISPserviceOFaxUsage td:nth-child(6), #tblISPserviceOFaxUsage td:nth-child(7), #tblISPserviceOFaxUsage td:nth-child(8), #tblISPserviceOFaxUsage td:nth-child(9), #tblISPserviceOFaxUsage td:nth-child(10), #tblISPserviceOFaxUsage td:nth-child(12), #tblISPserviceOFaxUsage td:nth-child(13), #tblISPserviceOFaxUsage td:nth-child(14), #tblISPserviceOFaxUsage td:nth-child(19), #tblISPserviceOFaxUsage td:nth-child(20), #tblISPserviceOFaxUsage td:nth-child(21), #tblISPserviceOFaxUsage td:nth-child(23) { width: 75px; }
#tblISPserviceOFaxUsage td:nth-child(15) { width: 80px; }
/*#tblISPserviceOFaxUsage td:nth-child(14){ width: 450px; } */
#tblISPserviceOFaxUsage td:nth-child(18), #tblISPserviceOFaxUsage td:nth-child(22), #tblISPserviceOFaxUsage td:nth-child(11), #tblISPserviceOFaxUsage td:nth-child(16), #tblISPserviceOFaxUsage td:nth-child(17) { width: 150px; }

#tblISPservice_currentOfferCode td:first-child {width: 20%; }
#tblISPservice_currentOfferCode td:nth-child(2),#tblISPservice_currentOfferCode td:nth-child(3), #tblISPservice_currentOfferCode td:nth-child(4) { width: 14%; }
#tblISPservice_currentOfferCode td:nth-child(5),#tblISPservice_currentOfferCode td:nth-child(6) {width: 10%; }
#tblISPservice_currentOfferCode td:nth-child(7) { width: 18%; }

#tblISPservice_findOfferCode td:first-child, #tblISPservice_findOfferCode td:nth-child(9) {width: 12%; }
#tblISPservice_findOfferCode td:nth-child(2) {width:14%;}
#tblISPservice_findOfferCode td:nth-child(3),#tblISPservice_findOfferCode td:nth-child(4) {width: 11%; }

#tblISPservice_findOfferCode td:nth-child(5) {width: 10%; }
#tblISPservice_findOfferCode td:nth-child(6),#tblISPservice_findOfferCode td:nth-child(7),#tblISPservice_findOfferCode td:nth-child(8) {width: 8%; }
#tblISPservice_findOfferCode td:nth-child(10) { width: 6%; text-align: center; }

/*
#tblISPservice_Did td:first-child {width: 45%; }
#tblISPservice_Did td:nth-child(2) {width: 40%; }
#tblISPservice_Did td:nth-child(3) { width: 15%; text-align: center; }*/

#tblISPnumberActivationSummary td:first-child, #tblISPnumberActivationSummary td:nth-child(3), #tblISPnumberActivationSummary td:nth-child(4), #tblISPnumberActivationSummary td:nth-child(5), #tblISPnumberActivationSummary td:nth-child(6),#tblISPnumberActivationSummary td:nth-child(7) {width: 12%; }
#tblISPnumberActivationSummary td:nth-child(2) {width:28%;}


/*checkbox css end*/
.usuge-section input { text-align: right; }
.usuge-section select { text-align: right; }

.closeaccount-section input { text-align: right; }
.closeaccount-section select { text-align: left; }


input { box-shadow: none; }
/*tooltip css start*/
.fixed_headers .tooltip-inner { max-width: 1000px; z-index: 999; }
.fixed_headers .tooltip-inner { background-color: #ffffd0; color: #000; border: 1px solid #000; }
.fixed_headers .tooltip.top .tooltip-arrow { border-top-color: #000; }
.fixed_headers .pull-right { float: right !important; text-align: right; padding-right: 10px; }


.tooltip-inner { max-width: 1000px;z-index: 999; }
.tooltip-inner { background-color: #ffffd0; color: #000; border: 1px solid #000;font-size: 10px; }
.tooltip.top .tooltip-arrow { border-top-color: #000; }

/*tooltip css end*/


.filter-section input[type=radio]{margin: 2px 0 0;vertical-align: top;}
.selectbox-error{padding-top: 10px;}
.selectbox-error .errorMsg{margin-left: 0;}
 
.email-adress-section .offercode-btn .grey-btn{width: 40%;margin-bottom: 5px;padding: 1px;font-size: 10px;}

.multiselectdropdown {padding-top: 0px;font-size: inherit;background-color: white;border-color: #b5b5b5 #b5b5b5 #7f7f7f;border-style: solid;-webkit-box-shadow: inset 0 0px 0px;box-shadow: inset 0 0 0;}

span.glyphicon.glyphicon-ok-sign{
    font-size:20px;
    color: green;
}
span.glyphicon.glyphicon-remove-sign{
    font-size:20px;
    color: red;
}
